body {
  font-family: 'Bree Serif', serif;
  font-weight: 200;;
  color: green;
  background-image: url(homepage.png);
  background-repeat: repeat;
  text-align: left;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {font-size: medium}
h2 {font-size: medium}
h3 {font-size: medium; text-decoration:underline}
h4 {font-size: medium; color:aqua}
h5 {font-size: medium}
h6 {font-size: medium}
h7 {font-size: medium}
