body {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  color: black;
  background-image: url(Page2.png);
  background-repeat: repeat;
  text-align: left;
  font-size:large
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto}
h1 {font-size:larger; text-decoration:underline}
