body {
  font-family: 'cursive';, arial, sans-serif;
  font-weight: ;
  background-image: url(flowers.png);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h2 {
    color:azure;
}
h4 {
  color: green;
}
#summary {
  color: purple;
}
