body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 500;
  color: green;
  background-image: url(homepage.png);
  background-repeat: repeat;
  text-align: left;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
