body {
  font-family: 'Bree Serif', serif;
  font-weight: 200;
  color: black;
  background-image: url(Page2.png);
  background-repeat: repeat;
  text-align: left;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {font-size:large}
h2 {font-size:medium}
h3 {font-size:medium}
