body {
  font-family: 'Bree Serif', serif;
  font-weight: 1000;
  color: blue;
  background-image: url(homepage.png);
  background-repeat: repeat;
  text-align: left;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
